//typograhy
$default-rem: 16px;
//Шрифт для хидера
%size-text {
    font-style: normal;
    font-weight: 500;
    font-size: 0.87rem;
    line-height: 1.1rem;
    letter-spacing: 0.03em;
    color: #212121;
}

%flex_space-beetween {
    display: flex;
    justify-content: space-between;
}